# 진법] 
## 10진법 -> 124나라 숫자로

1 2 4 11 12 14 21 22 24 41 42 44 111 112 114 121 122 124 141 142 144 211 212 214 221
1 2 3   4    5    6   7    8   9 10 11 12    13   14    15   16    17   18    19    20   21   22    23   24    25

3진법 0, 1, 2
124나라 1, 2, 4

1 부터 1자리수
0 1 2 0 1 2 0 1 2 ...
_ 1 2 4 1 2 4 1 2 4 1 2 4 1 2 4 ...

1+3 => 4 부터 2자리수 : 1, 2, 4를 각 3번씩 반복
0 0 0 1 1 1 2 2 2 0 0 0 1 1 1 2 2 2 ...
_ 0*3 1*3 2*3 4*3 1 1 1 2 2 2 4 4 4 ...

4 + 9 => 13 부터 3자리수 : 1, 2, 4를 각 9번씩 반복
0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 ...
_ 0*(3+9) 1*9 2*9

13 + 27 => 40 부터 4자리수 : 1, 2, 4를 각 27번씩 반복
0*27 1*27 2*27 4*27
_ 0*(3+9+27) 1*27 2*27 4*17

n: 1~500, 000, 000

### 최대 자리수 확인

In [106]:
sum_ = 0
zeroes = []
for i in range(20):
    
    sum_ += 3**i
    if sum_ > 500000000:
        print(i)
        break
    zeroes.append(sum_)

18

### 23에 대해서 자리별 테스트

In [4]:
n = 23 # 212

In [9]:
if n >= zeroes[2]:
    print(f'{zeroes[2]}')

13

In [21]:
az = n - zeroes[2]  # 13 14 15 16 17/ 18 19 20 21 <- 1 :: 2-> 22/ 23
az

10

In [22]:
az//3**2 #0 1 2 3 ... -> 1 2 4 1 ...

1

In [36]:
d = (az//3**2)%3 # 0 1 2 -> 1 2 4
d, to124[d]

(2, '4')

In [24]:
if n >= zeroes[1]:
    print(f'{zeroes[1]}')

4

In [25]:
az = n - zeroes[1]  # 13 14 15 16 17/ 18 19 20 21 <- 1 :: 2-> 22/ 23
az

19

In [26]:
az//3**1 #0 1 2 3 ... -> 1 2 4 1 ...

6

In [37]:
d = (az//3**1)%3 # 0 1 2 -> 1 2 4
d, to124[d]

(1, '2')

In [94]:
n = 3

In [95]:
zeroes[0]

1

In [96]:
if n >= zeroes[0]:
    print(f'{zeroes[0]}')

1

In [97]:
az = n - zeroes[0]  # 13 14 15 16 17/ 18 19 20 21 <- 1 :: 2-> 22/ 23
az

2

In [98]:
az//3**0 #0 1 2 3 ... -> 1 2 4 1 ...

2

In [99]:
d = (az//3**0)%3 # 0 1 2 -> 1 2 4
d, to124[d]

(2, '4')

### 최종

In [100]:
sum_ = 0
zeroes = []
for i in range(18):
    sum_ += 3**i
    zeroes.append(sum_)

to124 = {0: '1', 1: '2', 2: '4'}

def numTo124(n):
    num = []
    for i in range(18):
        if n >= zeroes[i]:
            d = ((n - zeroes[i])//3**i)%3
            num.append(to124[d])
        else:
            break
    num = "".join(num)
    return num[::-1]

In [104]:
for i in range(1, 100):
    print(numTo124(i))

1
2
4
11
12
14
21
22
24
41
42
44
111
112
114
121
122
124
141
142
144
211
212
214
221
222
224
241
242
244
411
412
414
421
422
424
441
442
444
1111
1112
1114
1121
1122
1124
1141
1142
1144
1211
1212
1214
1221
1222
1224
1241
1242
1244
1411
1412
1414
1421
1422
1424
1441
1442
1444
2111
2112
2114
2121
2122
2124
2141
2142
2144
2211
2212
2214
2221
2222
2224
2241
2242
2244
2411
2412
2414
2421
2422
2424
2441
2442
2444
4111
4112
4114
4121
4122
4124